@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --logo-color: #000000;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: Roboto, Aileron, Comfortaa, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  padding-top: 80px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*Бекдроп*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------Кнопка модалки------------*/
.mod-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-color);
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mod-icon {
  fill: var(--logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-icon:hover,
.mod-icon:focus {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field.second-field {
  margin-bottom: 20px;
}

.input-wrapper {
  margin-top: 4px;
  position: relative;
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-text:focus {
  border-color: var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  padding-left: 40px;
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  outline: none;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  margin-bottom: 30px;
}

.modal-check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  display: block;
  margin-right: 7px;
}

.modal-check:checked + .modal-check-text::before {
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.modal-check-text a {
  color: var(--accent-color);
}

.btn-submit {
  padding: 10px 55px;
  height: 50px;
  min-width: 200px;
  border: 1px solid transparent;
  font-family: inherit;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.div-bt {
  display: flex;
  justify-content: center;
  width: 100%;
}

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.btn-li {
  margin-right: 8px;
}

.btn-li:last-child {
  margin-right: 0;
}

.filter .btn {
  display: inline-block;
  border: 1px solid transparent;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--second-background-color);
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .btn:hover,
.filter .btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 80px;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
  z-index: 1;
}

.main-nav {
  display: flex;
  align-items: center;
}

/*------------------------------Логотип-------------------------------------*/
.logo {
  font-family: Raleway, Roboto, Aileron, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--logo-color);
}

.accent {
  color: var(--accent-color);
}

/*-----------------------------Навигация сайта-----------------------------------------------*/
.navigate {
  display: flex;
  margin-left: 93px;
}

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: -32px;
}

.site-nav .link-header:hover,
.site-nav .link-header:focus {
  color: var(--accent-color);
}

.site-nav .link-header.current {
  color: var(--accent-color);
}

/*------------------------------Телефон и почта----------------------------*/
.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav .item + .item {
  margin-left: 50px;
}

.contact-nav .link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav .link-header:hover,
.contact-nav .link-header:focus {
  color: var(--accent-color);
}

.contact-nav .link-adress::before {
  content: '';
}

.link-svg {
  display: flex;
  align-items: center;
}

.icone-mail {
  display: block;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.link-header:hover .icone-mail,
.link-header:focus .icone-mail {
  fill: var(--accent-color);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--third-background-color);
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

/*-------------------------Кнопка-------------------*/
.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.section.bottom {
  padding-bottom: 47px;
}

.feature-list {
  display: flex;
}

.advantage {
  margin-right: 30px;
  width: 270px;
}

.advantage:last-child {
  margin-right: 0;
}

.feature-list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantage::before {
  display: block;
  content: '';
  margin-bottom: 30px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--second-background-color);
}

.advantage.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.advantage.clock::before {
  background-image: url(../images/clock.svg);
}

.advantage.diagram::before {
  background-image: url(../images/diagram.svg);
}

.advantage.astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.section.top {
  padding-top: 47px;
}

.picture-list {
  display: flex;
}

.picture {
  margin-right: 30px;
}

.picture:last-child {
  margin-right: 0;
}

.container-text-wrap {
  position: relative;
}

.text-picture-wrap {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 27px;
  transform: translateY(-70px);
}

.team-list {
  display: flex;
}

.section.background {
  background-color: var(--second-background-color);
}

.li-team {
  margin-right: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.li-team:last-child {
  margin-right: 0;
}

.img-team {
  margin-bottom: 30px;
}

.team-list .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.team-list .specialty {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.masters-social-list {
  display: flex;
  justify-content: center;
}

.masters-social-item + .masters-social-item {
  margin-left: 10px;
}

.masters-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-social-icon {
  display: block;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-social-link:hover,
.masters-social-link:focus {
  background-color: var(--accent-color);
}

.masters-social-link:hover .masters-social-icon,
.masters-social-link:focus .masters-social-icon {
  fill: var(--white-color);
}

.costumer-list {
  display: flex;
  justify-content: center;
}

.costumer-item + .costumer-item {
  margin-left: 30px;
}

.costumer-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costumer-icon {
  display: block;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costumer-link:hover,
.costumer-link:focus {
  border-color: var(--accent-color);
}

.costumer-link:hover .costumer-icon,
.costumer-link:focus .costumer-icon {
  fill: var(--accent-color);
}

.site-list {
  display: flex;
  flex-wrap: wrap;
}

.li-list {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-list:nth-child(3n) {
  margin-right: 0;
}

.li-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.li-list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.site-list .img-link {
  text-decoration: none;
}

.site-list .title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.site-list .subject {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.border {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.container-site-text {
  position: relative;
  overflow: hidden;
}

.site-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-list:hover .site-text {
  transform: translateY(0);
}

.footer {
  background-color: var(--third-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex-container {
  display: flex;
  align-items: baseline;
}

/*---------------------------Лого-------------------------------------*/
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, Roboto, Aileron, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-color);
}

/*-----------------Адрес---------------*/
.adress-list {
  margin-bottom: 9px;
}

.adress-list:last-child {
  margin-bottom: 0;
}

.link-footer {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--footer-contacts-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-adress {
  color: var(--white-color);
}

.adress-nav .link-adress:hover,
.adress-nav .link-adress:focus {
  color: var(--accent-color);
}

.adress-nav .link-footer:hover,
.adress-nav .link-footer:focus {
  color: var(--accent-color);
}

/*--------Присоединяйтесь-футер------*/
.networks {
  margin-left: 70px;
}

.footer-networks-list {
  display: flex;
  justify-content: center;
}

.footer-networks-item + .footer-networks-item {
  margin-left: 10px;
}

.footer-networks-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-networks-link:hover,
.footer-networks-link:focus {
  background-color: var(--accent-color);
}

.footer-networks-icon {
  display: block;
  fill: var(--white-color);
}

.networks-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

/*------------Подпишитесь на рассылку-----------*/
.container-form {
  margin-left: 93px;
}

.container-form-second {
  display: flex;
  align-items: center;
}

.container-form-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-email {
  outline: none;
  padding: 15px;
  width: 358px;
  height: 50px;
  background-color: var(--third-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email:focus {
  border-color: var(--accent-color);
}

.footer-email::placeholder {
  font-size: 16;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.container-btn-footer {
  position: relative;
  margin-left: 12px;
}

.button-footer {
  padding-right: 61px;
  padding-left: 28px;
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  border: 1px solid transparent;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-icon-footer {
  position: absolute;
  top: 13px;
  right: 28px;
  margin-left: 10px;
  fill: var(--white-color);
}
/*# sourceMappingURL=main.css.map */