.section.bottom {
  padding-bottom: 47px;
}

.feature-list {
  display: flex;
}

.advantage {
  margin-right: 30px;
  width: 270px;
}

.advantage:last-child {
  margin-right: 0;
}

.feature-list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantage::before {
  display: block;
  content: '';
  margin-bottom: 30px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--second-background-color);
}

.advantage.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.advantage.clock::before {
  background-image: url(../images/clock.svg);
}

.advantage.diagram::before {
  background-image: url(../images/diagram.svg);
}

.advantage.astronaut::before {
  background-image: url(../images/astronaut.svg);
}
